<section>
  <header>
    <div class="container">
      <div class="row pt-4 pb-4 d-flex align-items-center">
        <div class="col-md-3 col-5 d-flex justify-content-center align-items-center">
          <img class="emblem" src="assets/images/emblem.svg" alt="emblem">
          <div class="separator ml-2 mr-2"></div>
          <span class="cab-class">Кабінет Міністрів України</span>
        </div>
        <button (click)="goToLink('www.google.com')" class="col-md-3 col-lg-2 col-6 col-sm-5 offset-0 offset-sm-2 offset-md-6 presentation-btn">
          <img class="pr-1" src="assets/images/download.svg" alt="download">
          <span>Презентація</span>
        </button>
      </div>
    </div>
  </header>
  <div class="d-flex flex-column align-items-center bottom-container">
    <h1>Реформування системи містобудування</h1>
    <button (click)="scroll('presentation-container')" class="translation-btn">
      <img src="../../assets/images/scrollToVideo.svg" alt="play video">
      <span>Відеотрансляція</span></button>
  </div>
</section>
