<section>
  <header>
    <div class="container">
      <div class="row pt-4 pb-4 d-flex align-items-center">
        <div class="col-md-2 col-5 d-flex justify-content-between align-items-center">
          <img src="assets/images/emblem.svg" alt="emblem">
          <img class="pl-1 pr-1" src="assets/images/line.svg" alt="separator">
          <span сlass="cab-class">Кабінет Міністрів України</span>
        </div>
        <button class="col-md-3 col-lg-2 col-6 col-sm-5 offset-0 offset-sm-2 offset-md-7 offset-lg-8 presentation-btn">
          <img class="pr-1" src="assets/images/download.svg" alt="download">
          <span>Презентація</span>
        </button>
      </div>
    </div>
  </header>
  <div class="d-flex flex-column align-items-center bottom-container">
    <h1>Реформування системи містобудування</h1>
    <button class="translation-btn">
      <img src="../../assets/images/scrollToVideo.svg" alt="play video">
      <span>Відеотрансляція</span></button>
  </div>
</section>
