:host section
  background: black

.square
  cursor: pointer
  img
    min-width: 36px
    max-width: 36px
    min-height: 36px
    max-height: 36px

.square:not(:last-child)
  margin-right: 20px

.email
  text-decoration-line: underline
  font-size: 14px
  line-height: 21px
  color: #FFFFFF

.license-cite
  font-weight: 300
  font-size: 12px
  line-height: 18px
  color: #FFFFFF
  opacity: 0.5
  font-family: e-Ukraine Light

.cab-class
  font-size: 14px
  line-height: 21px
  font-family: e-Ukraine Head
  color: white

.separator
  height: 35px
  width: 2px
  background: white

.emblem-container
  position: relative

.emblem-addition
  position: absolute
  top: 40%
  left: 50%
  transform: translate(-50%, -50%)
