<section class="container-fluid pt-4 pb-4">
  <div *ngFor="let contact of contactsInfo; let last = last" class="row d-flex justify-content-center">
    <div class="col-lg-10 col-12">
      <div class="container">
        <div class="row p-5 contact-info-container"  [ngClass]="{'border-bottom-0': last}">
          <img class="col-lg-1 emblem" src="{{contact.image}}" alt="fist">
          <h2 class="col-lg-3 col-12">{{contact.header}}</h2>
          <div class="col-lg-4 offset-lg-4">
            <span class="d-md-inline d-none">{{contact.description}}</span>
            <p *ngIf="contact.contact" class="mt-2">{{contact.contact}}</p>
            <div *ngIf="contact.socialNetworksInfo" class="d-flex">
              <div *ngFor="let socialNetwork of contact.socialNetworksInfo" class="square">
                <img src="{{socialNetwork.src}}" alt="{{socialNetwork.name}}">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
