<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-10 col-12">
      <div class="container">
        <div class="row contact-container p-4 mt-5">
          <img class="col-lg-1 emblem" src="assets/images/fist.svg" alt="fist">
          <h2 class="col-lg-3 col-12">Зіткнулися з корупцією?</h2>
          <div class="col-lg-3 offset-lg-4">
            <span class="d-md-inline d-none">Пишіть нам</span>
            <p class="mt-2">hello@thedigital.gov.ua</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-10 col-12">
      <div class="container">
        <div class="row contact-container p-4 mt-5">
          <img class="col-lg-1  emblem" src="assets/images/msg.svg" alt="message">
          <h2 class="col-lg-3 col-12">Напишіть у чат-бот</h2>
          <div class="col-lg-3 offset-lg-4">
            <span class="d-md-inline d-none">Оберіть месенджер</span>
            <div class="d-flex">
              <div class="square">
                <img src="assets/images/viber.svg" alt="viber">
              </div>
              <div class="square">
                <img src="assets/images/telegram.svg" alt="telegram">
              </div>
              <div class="square">
                <img src="assets/images/facebook.svg" alt="facebook">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-lg-10 col-12">
      <div class="container">
        <div class="row contact-container p-4 mt-5">
          <img class="col-lg-1 emblem" src="assets/images/phone.svg" alt="fist">
          <h2 class="col-lg-3 col-12">Зателефонуйте на гарячу лінію</h2>
          <div class="col-lg-4 offset-lg-4">
            <span class="d-md-inline d-none">Працює з 09:00 до 18:00</span>
            <p class="mt-2">+38 097 162 85 29</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
