<section  id="presentation-container">
    <h1 *ngIf="!isShowVideo">Презентація наживо</h1>
    <p *ngIf="!isShowVideo">11 березня, о 12:00</p>
    <img src="assets/images/presentation.svg" class="img-fluid w-100 img-desktop" alt="presentation">
    <img src="assets/images/presentation-mobile.jpg" class="img-fluid w-100 img-mobile" alt="presentation">
    <button id="show-video-container" class="show-video-container" *ngIf="!isShowVideo" (click)=showVideo()>
      <div class="show-video"></div>
    </button>
    <div *ngIf="isShowVideo" class="video-container mt-md-0 mt-4">
      <iframe width="450" height="337.5"
              src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
    </div>
</section>



