<div class="container pt-5 pb-3">
  <div class="row">
    <div class="col-md-5 col-12">
      <h1 class="pb-1">Займаєтесь будівництвом та маєте багато питань?</h1>
      <p class="pb-3 pb-md-0">Під час онлайн-трансляції відповимо на усі запитання щодо ліквідування ДАБІ, реформи системи містобудування то нової електронної системи у сфері будівництва.
        Залишайте свій коментар нижче.</p>
    </div>
    <div class="col-md-6 col-12 d-flex align-items-center justify-content-center offset-1">
      <img class="forefinger" src="assets/images/white-up-pointing-index_261d%201.svg" alt="see below">
    </div>
  </div>
</div>
