<section class="container-fluid pt-5 pb-5 d-flex flex-column align-items-center">
  <div class="row d-flex justify-content-center pt-md-5 pb-md-5">
    <div class="col-md-11 col-12 pl-md-5 pr-md-5">
      <div class="row ml-2 mr-2 ml-md-0 mr-md-0">
        <div class="col-md-5 col-12 mb-md-0 mb-5">
          <div class="d-flex flex-column">
            <h1 class="d-none text-left d-md-block">Щотижневі новини</h1>
            <h3 class="d-block d-md-none text-left">Щотижня ділимося новинами</h3>
            <span class="subscribe-text">Підпишіться, щоб отримувати листи</span>
          </div>
        </div>
        <div class="col-md-5 col-12 offset-md-2 d-flex flex-column align-items-start">
            <app-news-form></app-news-form>
            <span class="agreement-text mt-3">Даю згоду на обробку та використання персональних даних</span>
        </div>
      </div>
    </div>
  </div>
</section>
