/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
h1
  color: black
  font-size: 56px
  line-height: 67px
  text-align: center
  font-family: e-Ukraine Regular

h1.modal-h1
  line-height: 56px
  @media screen and (max-width: 576px)
    line-height: 26px
    font-size: 26px

h2
  color: black
  font-size: 36px
  line-height: 43px

body
  margin: 2em

body *
  font-family: e-Ukraine Regular

body, input[type="text"], button
  color: #333
  font-family: Cambria, Georgia

button
  background: transparent
  border: none
  &:focus
    outline: 0 !important

/* everywhere else */
*
  font-family: Arial, Helvetica, sans-serif

.modal-header
  border-bottom: none !important

.modal-footer
  border-top: none !important

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'
